// animations part
@keyframes fadeInUpwards {
	from {
		transform: translateY(10px);
		opacity: 0;
	}

	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.fadeInUpwards {
	animation: fadeInUpwards 1s forwards;
}

.fadeOut {
	animation: fadeOut 1s forwards;
}