.center {
	justify-content: center;
	align-items: center;
	display: flex;
}

.center-text {
	text-align: center;
}

.whole-contain {
	top: 0; left: 0;
	position: absolute;
	height: 100%;
	width: 100%;
}

button {
	cursor: pointer;
}